#
# Copyright (C) 2022-2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

subsystem adf
    devname uevent_devname

# Camera
/dev/explorer_preisp                           0660    cameraserver    camera
/sys/devices/platform/soc/c42d000.qcom,spmi/spmi-0/0-01/c42d000.qcom,spmi:qcom,pm8550@1:qcom,flash_led@ee00/leds/led:torch_0 brightness 0660 cameraserver camera
/sys/devices/platform/soc/c42d000.qcom,spmi/spmi-0/0-01/c42d000.qcom,spmi:qcom,pm8550@1:qcom,flash_led@ee00/leds/led:torch_1 brightness 0660 cameraserver camera
/sys/devices/platform/soc/c42d000.qcom,spmi/spmi-0/0-01/c42d000.qcom,spmi:qcom,pm8550@1:qcom,flash_led@ee00/leds/led:switch_2 brightness 0660 cameraserver camera

# Charger
/sys/class/oplus_chg/*  mmi_charging_enable    0660    system  system

# Display
firmware_directories /mnt/vendor/persist/display/

# Memory
/dev/block/bootdevice/by-name/ddr              0660    root    system
/dev/block/sdd3                                0660    root    syste

# Reserve
/dev/block/bootdevice/by-name/oplusreserve1    0660    root    system
/dev/block/sdf2   0660   root     system
/dev/block/bootdevice/by-name/oplusreserve3    0660    root    system
/dev/block/sdf4   0660   root     system
/dev/block/bootdevice/by-name/oplusreserve5    0660    root    system
/dev/block/sdf5   0660   root     system
/dev/block/sdf6   0660   root     system

# WiFi
firmware_directories /mnt/vendor/persist/copy/ /odm/etc/wifi/ /mnt/vendor/persist/
